version: "3.8"

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    command: >
      sh -c "python manage.py makemigrations &&  python manage.py migrate && python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/code
    ports:
      - "${DJANGO_PORT}:8000"
    depends_on:
      - db

  celery:
    build: .
    command: celery -A learnify worker --loglevel=info
    volumes:
      - ./service_account.json:/service_account.json
    env_file:
      - ./.env
    environment:
      - PYTHONPATH=/code/src
    depends_on:
      - db
      - redis

  celery-beat:
    build: .
    command: celery -A learnify beat --loglevel=info
    volumes:
      - ./service_account.json:/service_account.json
    env_file:
      - ./.env
    environment:
      - PYTHONPATH=/code/src
    depends_on:
      - db
      - redis

  redis:
      image: redis:alpine
      restart: always
      ports:
          - "127.0.0.1:${REDIS_PORT}:6379"
      volumes:
          - ./redis.conf:/usr/local/etc/redis/redis.conf
      command: ["redis-server", "/usr/local/etc/redis/redis.conf"]


volumes:
  postgres_data: